/// Main palette of the design
$main-palette: (
    primary: #4300AC,
    secondary: #59009A,
    highlight: #00d8ff
);

/// Generic palette containing only black, white and shades of them
$generic-palette: (
    // Escaping CSS color names with through string notation
    "gray": #1D1D1D,
    "beige": #C4C4C4,
    "black": #121212,
    "white": #F2F2F2
);

/// Initial REM value for compiletime calculations
$rem-value: 16px;

/// Known breakpoints
/// Notation: <name>: (min, max)
/// min/max can be disabled by -1
$breakpoints: (
    mobile: (-1, 480px),
    tablet: (481px, 768px),
    laptop: (769px, 1024px),
    desktop: (1025px, 1200px),
    television: (1201px, -1)
);

/// Define CSS variable states, depending on breakpoint widths
/// The _fallback map defines values before all breakpoints
/// Breakpoints are always max-width, and should only define
/// the difference to _fallback, to keep the lines at a minimum
$var-states: (
    _fallback: (
        // Font-sizes
        fs-h1: 2.3rem,
        fs-h2: 1.3rem,
        fs-h3: 1.0rem,
        fs-base: 1rem,
        fs-p1: 1rem,
        fs-p2: .8rem,
        fs-p3: .6rem,

        // Spacings
        spc-xs: .25em,
        spc-sm: .5em,
        spc-md: 1em,
        spc-lg: 1.5em,
        spc-xl: 2.2em
    ),

    television: (),
    desktop: (),
    laptop: (),
    tablet: (
        fs-h1: 2.1rem,
        fs-h2: 1.1rem,
        fs-h3: .9rem,
        fs-p1: .9rem,
    ),
    mobile: (
        fs-h1: 1.5rem,
        fs-h2: 1.1rem,
        fs-h3: .8rem,
        fs-p1: .8rem,
    )
);

$iconFilterDefault: invert(1);
$iconFilterColor: invert(70%) sepia(97%) saturate(269%) hue-rotate(160deg) brightness(92%) contrast(98%);