@use 'util' as *;

.about {

  &__columns {
      display: grid;
      grid-template-columns: repeat(auto-fit, 20em);
      justify-content: center;
      gap: clamp(2.5em, 5vw, 4em);
  }

  &__item {
      position: relative;
      margin-top: calc(var(--icn-xl) + var(--spc-md));

      h3 {
          color: var(--white);
          margin-bottom: var(--spc-md);
      }

      p {
          color: var(--white-dark);
      } 

      img {
          max-width: var(--icn-xl);
          max-height: var(--icn-xl);

          filter: $iconFilterHighlight;

          position: absolute;
          left: 50%;
          transform: translate(-50%, calc(-100% - var(--spc-md)));
      }
  }
}