<div class="section section--gradient">
    <div class="section-content">
    </div>
</div>

<div class="section section--dark">
    <div class="section-content">
        <h1 class="section__headline">About Me</h1>
    </div>
</div>

<div class="section section--primary">
    <div class="section-content">
        <h1 class="section__headline">Offered Services</h1>
    </div>
</div>

<div class="section section--dark">
    <div class="section-content">
        <h1 class="section__headline">Acquired Skills</h1>
    </div>
</div>

<div class="section section--primary">
    <div class="section-content">
        <h1 class="section__headline">Get In Touch</h1>
    </div>
</div>