<div class="section section--gradient section--hero">
    <div class="section__content">
        <div class="hero__typeblock">
            <h1>{{ 'home.hero.headline-first' | translate }}<br>{{ 'home.hero.headline-second' | translate }}</h1>
            <h3>{{ 'home.hero.subheadline' | translate }}</h3>

            <p>{{ 'home.hero.text' | translate }}</p>

            <div class="hero__typeblock__buttons">
                <app-button
                    url="#contact"
                    text="{{ 'home.hero.btn-contact' | translate }}"
                ></app-button>

                <app-button
                    url="#services"
                    text="{{ 'home.hero.btn-services' | translate }}"
                    icon="wrench"
                    [filled]="false"
                ></app-button>
            </div>
        </div>

        <div class="hero__image">
            <img src="graphics/laptop.svg" alt="laptop">
            <img src="graphics/laptop-shadowed.svg" alt="laptop">
        </div>

        <img class="hero__scroll" src="graphics/mouse.svg" alt="mouse">
    </div>
</div>

<div class="section section--dark">
    <div class="section__content">
        <h2 class="section__headline">{{ 'home.about.headline' | translate }}</h2>
        <div class="about__columns">
            <div class="about__item">
                <img src="graphics/avatar.svg" alt="avatar">
                <h3>{{ 'home.about.my-life.title' | translate }}</h3>
                <p>{{ 'home.about.my-life.text' | translate:{ myAge: myAge } }}</p>
            </div>
            <div class="about__item">
                <img src="graphics/graduate.svg" alt="graduate">
                <h3>{{ 'home.about.education.title' | translate }}</h3>
                <p>{{ 'home.about.education.text' | translate }}</p>
            </div>
            <div class="about__item">
                <img src="graphics/puzzle.svg" alt="puzzle">
                <h3>{{ 'home.about.pursuits.title' | translate }}</h3>
                <p>{{ 'home.about.pursuits.text' | translate }}</p>
            </div>
        </div>
    </div>
</div>

<div class="section section--primary">
    <div class="section__content">
        <h2 class="section__headline" id="services">{{ 'home.services.headline' | translate }}</h2>
    </div>
</div>

<div class="section section--dark">
    <div class="section__content">
        <h2 class="section__headline">{{ 'home.skills.headline' | translate }}</h2>
    </div>
</div>

<div class="section section--primary">
    <div class="section__content" id="contact">
        <h2 class="section__headline">{{ 'home.contact.headline' | translate }}</h2>
    </div>
</div>