@use 'util' as *;

@use './partial-styles/common' as *;
@use './partial-styles/icon';
@use './partial-styles/tooltip';
@use './partial-styles/expandable';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: var(--spc-sm) 0;

    // Separate to the right
    &:not(:last-of-type) {
        margin-right: var(--spc-md);
    }

    @include bp-style(mobile) {
        // Leave expandables alone
        &:not(.--expandable) {
            // Add bottom separator line, align left
            width: 80%;
            padding: 0 0 var(--spc-md) 0;
            margin: 0 0 var(--spc-md) 0 !important;
            border-bottom: 1px solid var(--white-dark);
            justify-content: flex-start;

            &:last-of-type {
                margin-bottom: 0;
                border-bottom: 0;
            }
        }
    }

    // Turn into circles
    @include bp-style(laptop, min) {
        @include host-circular;
    }
}