@use 'util' as *;

:host {
    font-size: var(--fs-p1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--highlight);
    padding: var(--spc-sm) var(--spc-lg);
    border-radius: 1rem;
    user-select: none;
    transition:
        background-color 150ms ease,
        color 150ms ease;
    position: relative;
    height: max-content;

    button {
        position: absolute;
        background: transparent;
        border: none;
        inset: 0;
        width: 100%;
    }

    @include bp-style(laptop, min) {
        // Add hover effects
        &:hover {
            cursor: pointer;
            
            // Lighten background
            &.--filled {
                background: var(--highlight-light);
            }

            // Lighten text
            &:not(.--filled) {
                color: var(--highlight-light);
            }

            &.--disabled {
                cursor: not-allowed;
            }
        }
    }

    &.--filled {
        background: var(--highlight);
        color: var(--black);
    }

    &:not(.--filled) {
        text-decoration: underline;
    }

    &.--disabled {
        filter: grayscale(.8);
    }
}

.icon {
    filter: $iconFilterDefault;
    margin-right: var(--spc-xs);

    max-width: var(--icn-md);
    max-height: var(--icn-md);
}

.arrow {
    max-width: var(--icn-sm);
    margin-left: var(--spc-sm);

    // Hide arrow on mobile
    @include bp-style(mobile) {
        display: none;
    }
}

.icon--color {
    filter: $iconFilterHighlight;
}