@use 'util' as *;
@use 'common' as *;

.expandable {
  &__content {
      position: relative;

      // Small arrow pointing to entry's image
      &::before {
          content: '';
          position: absolute;
          top: 0;
          right: calc(.5em + 1em); // parent offset + circle / 2
          transform: translateY(-100%) translateX(50%);
          border: .6em solid transparent;
          border-bottom: .5em solid var(--primary-dark);
      }
  }

  &__wrapper {
      position: absolute;
      right: -.5em;
      top: calc(100% + var(--spc-lg));
      background: var(--primary-dark);
      border-radius: .5em;

      &--hidden {
          display: none;
      }
  }
}

:host {
    @include bp-style(mobile) {
        // Bottom left of nav overlay
        &.--expandable {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            transform: translateX(50%);
        }

        @at-root {
            // Set above, instead of below the circle
            .expandable {
                &__wrapper {
                    inset: auto;
                    bottom: calc(100% + var(--spc-lg));
                    left: 0;
                }

                &__content {
                    &::before {
                        inset: auto;
                        bottom: 0;
                        left: 1em;
                        transform: translateY(100%) translateX(-50%);
                        border: .6em solid transparent;
                        border-top: .5em solid var(--primary-dark);
                    }
                }
            }
        }
    }

    &.--expandable {
        @include host-circular;
    }
}