@use 'util' as *;

@use './partial-styles/logo';
@use './partial-styles/links';
@use './partial-styles/langs';

:host, .wrapper {
    height: 2.8em;
    width: 100%;
    display: flex;
}

// Extra wrapper to keep "whitespace" from host element
.wrapper {
    justify-content: space-between;
    background: var(--primary-dark);
    color: var(--white);
    padding: 0 var(--spc-lg);
    position: fixed;
    z-index: 1000;

    &--active {
        @include bp-style(mobile, max) {
            background: var(--gray);
        }
    }
}