@use 'util' as *;

:host {
    display: flex;
    justify-content: space-between;
    height: 2.8em;
    background: var(--primary-dark);
    color: var(--white);
    padding: 0 var(--spc-300);
}

.logo {
    display: flex;
    align-items: center;

    &__image {
        width: 1.8em;
    }

    &__text {
        margin-left: var(--spc-100);
    } 
}

.links {
    &, &__content {
        display: flex;
        align-items: center;
        user-select: none;
        position: relative;

        @include bp-style(mobile, min) {
            // Reset the content-wrapper properties
            &__content--animdone {
                height: auto !important;
                display: flex !important;
            }
        }
    }

    // Clickable burger container
    // Shift right to account for extra click-whitespace
    &__burger {
        position: relative;
        width: 2.2em;
        transform: translateX(calc(.5em));
        height: 100%;
        z-index: 1;
        display: none;
        
        // Center both spans v/h
        // Translating happens within animations
        & span {
            display: block;
            position: absolute;
            width: 1.2em;
            height: .12em;
            border-radius: .2em;
            background: var(--white);
            transform-origin: center center;
            inset: 50% auto auto 50%;
        }
    }
    
    @include bp-style(mobile, max) {
        // Show burger
        &__burger {
            display: block;
        }

        // Cover whole screen, minus nav-bar
        &__content {
            position: fixed;
            width: 100vw;
            height: calc(var(--vh) * 100 - 2.8em);
            right: 0;
            top: 2.8em;
            background: var(--primary-light);
            overflow: hidden;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 2em;
        }
    }
}